:root {
    --cor-coluna-esquerda: #71c98b; /* Cor da coluna esquerda */
    --cor-coluna-direita: #e5e5e5; /* Cor da coluna direita */
    --cor-logo: #00571a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.coluna {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(56, 56, 56);
}

.coluna-esquerda {
    color: white;
    max-width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--cor-coluna-esquerda);
    border-right: 1px solid var(--cor-logo);
}

.coluna-direita h1 {
    margin-bottom: 25px;
}

.coluna-direita {
    flex-grow: 4;

    background-color: var(--cor-coluna-direita);
}

.coluna-esquerda ul {
    list-style: none;
    padding: 0;
}

.coluna-esquerda li {
    margin-bottom: 10px;
}

.coluna-esquerda a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--cor-logo);
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.coluna-esquerda a:hover {   
    background-color: var(--cor-coluna-esquerda);
    color:black;    
    font-weight: 600;
}

.coluna-esquerda a iconify-icon {
    margin-right: 10px;
}